<!DOCTYPE html>
<html lang="de">
  <%- include('./partials/layout/head') %>
<body class="pcb-loading">

  <%- include('./partials/layout/background') %>

  <div class="page-content">

  <%- include('./partials/layout/nav') %>
  <%- include('./partials/sections/hero') %>
  <%- include('./partials/sections/about') %>
  <%- include('./partials/sections/skills') %>
  <%- include('./partials/sections/projects') %>
  <%- include('./partials/sections/why') %>
  <%- include('./partials/sections/contact') %>
  <%- include('./partials/layout/footer') %>

  </div><!-- /.page-content -->

  <%- include('./partials/layout/scripts') %>
</body>
</html>
